/* Add your own CSS code below */
.link {
<<<<<<< HEAD
  color: #ff00ea;
  font-weight: 700;
  text-decoration: none;
}
=======
  color: fuchsia;
  font-weight: 700;
  text-decoration: none;
}

>>>>>>> purple_links
